---
import Layout from "../layouts/Layout.astro";
import MerchIdeas from "../components/MerchIdeas";

const user = Astro.locals.user;

if (!user) {
  return Astro.redirect(
    `/signin?redirect=${encodeURIComponent(Astro.url.pathname)}`,
  );
}
---

<Layout
  title="Merchandise Ideas - FrenCon 2026"
  description="Suggest merchandise for FrenCon"
>
  <h1>Merchandise Ideas</h1>
  <p>Suggest merchandise ideas for FrenCon. Sign in to add your suggestions.</p>
  <MerchIdeas user={user} />
</Layout>
